<div class = "container">    
    <form action = "/write" method = "GET">
      <div class="form-group">
        <label for="exampleInputEmail1">게시판 이름입니다. </label>
        <input name= "title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="게시판 이름입니다.">
      </div>
      <div class="form-group">
        <label for="exampleTextarea">게시판 내용입니다. </label>
        <textarea name= "content" placeholder="게시판 내용입니다." class="form-control" id="exampleTextarea" rows="20"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>